/* #InfoTable {
    margin: auto;
    width: 81%;
    border: 2px solid black;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
} */


/* #DateTime {
    text-align: center;
}

#Latitude {
    text-align: center;
}

#Longitude {
    text-align: center;
} */


/* .w-75 p-3 {
    margin: auto;
} */

body {
    background-color: #303135;
}

#map {
    margin: auto;
    height: 550px;
    width: 80%;
    /* border: 2px solid black; */
    border-radius: 7px;
}

#header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 10px;
}

.card-title {
    text-align: left;
}

.tableHeader {
    color: white;
}


/* .tableBody {
    color: white;
} */

.text-content {
    color: white;
}

.nav nav-pills card-header-pills {
    padding-left: 12px;
}